@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #00D084;
    --color-primary-dark: #00966A;
    --color-background: #FFFFFF;
    --color-light-grey: #F8F8F8;
    --color-dark-text: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    color: #333333;
    background-color: #FFFFFF;
}
